/gAutoy/version.py
/build/*
/docs/_build/*
/dist/*
/third-party/*/*
/third-party/*.exe
/gAutoy.egg-info
*~
*#
*.pyc
/docs/notebooks/cookbook/.ipynb_checkpoints/*.ipynb
/docs/notebooks/cells/.ipynb_checkpoints/*.ipynb
/docs/notebooks/.ipynb_checkpoints/*.ipynb

/examples/track.html
/__check__

# Files excluded from the project in order to guarantee non-violation of non-disclosure agreements
/utils/log2kml/log2kml.py
/utils/targetAssist/app.py

/examples/enabledGVLabelsSummary.py
/examples/output.html
/examples/serviceAvailabilityCallbacks.py
/examples/templates
/examples/trace2gmap.py

/gautoy/target/Target.py
/gautoy/domain/most/MOSTPattern.py
/gautoy/tools/traceclient/*.py

/docs/notebooks/cookbook/gAutoy-cookbook-domain-most.ipynb
/docs/notebooks/cells/gAutoy-cells-magics.ipynb
/docs/notebooks/cells/gAutoy-cells-collection.ipynb

/dist/targetAssist.json

/docs/notebooks/elvis
